.footer {
  background: #16001f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer p {
  margin-right: 32px;
}

.logoRafa img {
  height: 115px;
}
