.botao {
  background-color: #d475ee;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #4d026a;
  margin: 32px 0;
}

.botao:hover {
  color: #d475ee;
  background-color: #4d026a;
}
